.content {
    display: flex;
    justify-content: center;
    z-index: 10;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;

  .headerTitle {
    font-size: clamp(3rem, 6vw, 10rem);
    margin-bottom: 10px;
    font-family: 'Ants';
    text-shadow: 5px 5px 5px #000;
    margin-top: 3rem;
  }
}
