.fuzzyBackground {
  background-image: url('/images/noise.png');
  position: absolute;
  inset: -200%;
  opacity: 15%;
  height: auto;
  animation: shift 0.2s linear infinite both;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);

  }
}